Private page
<% if (user) { %>
  <div>
    <a href="/">Index</a>
  </div>
<% } %>

<h1>Hey there <%=user.username%>!</h1>
<div class="container">
  <input id="idRest" type="text" name="" value="">

  <a class="btn" href="profile/edit/">Edit Profile</a>

</div>
<ul>
<% for(var i = 0; i < restaurants.length; i++) { %>
  <div class="row">
   <div class="col s12 m6">
     <div class="card">
       <div class="card-image">
         <img src="images/sample-1.jpg">
         <span class="card-title"><%= restaurants[i].name %></span>
         <% if (!restaurants[i].visited) { %>
           <a href="/rating/<%= restaurants[i]._id %>" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">rate_review</i></a>
         <% } %>
       </div>
       <div class="card-content">
         <p><%= restaurants[i].address %></p>
         <p><%= restaurants[i].website%></p>
         <form action="/restaurant/<%= restaurants[i]._id %>/delete" method="POST">
           <button id="dltButton" type="submit"><i class="material-icons">delete</i>Delete</button>
         </form>
       </div>
     </div>
   </div>
 </div>

<% } %>
</ul>
<br>
