<div class="row">
  <div class="col s12 user-name">
    <h3 class="profile-name"><%=user.username%></h3></div>
  <div class="col s12">PROFILE PHOTO</div>
  <div class="col s12"><img></h3>
  </div>
</div>
</div>

<div class="row">
  <div class="col s4">
    <a class="waves-effect waves-light btn search-menu" href="/profile">ALL</a>
  </div>

  <div class="col s4">
    <a class="waves-effect waves-light btn search-menu" href="/profile/wannavisit">WANNA VISIT</a>
  </div>

  <div class="col s4">
    <a class="waves-effect waves-light btn search-menu" href="/profile/visited" >VISITED</a>
  </div>
</div>

<ul>
  <% for(var i = 0; i < restaurants.length; i++) { %>

    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= restaurants[i].name %><i class="material-icons right">more_vert</i></span>
            <% if (!restaurants[i].visited) { %>
              <a href="/rating/<%= restaurants[i]._id %>" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">rate_review</i></a>
              <% } %>
                <p>
                  <%= restaurants[i].address %>
                </p>
                <p><a href="<%= restaurants[i].website%>">Website</a>
                </p>
                <form action="/restaurant/<%= restaurants[i]._id %>/delete" method="POST">
                  <button id="dltButton" type="submit"><i class="material-icons">delete</i></button>
                </form>
                <% if(restaurants[i].visited){ %>
                  <div class="row">
                  <div class="col s4"><p><i class="material-icons left md-24">local_dining</i><%= rating[i].food%></p></div>
                  <div class="col s4"><p><i class="material-icons left">euro_symbol</i><%= rating[i].price%></p></div>
                  <div class="col s4"><p><i class="material-icons left">local_bar</i><%= rating[i].ambience%></p></div>
                </div>
                <% } %>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Rating<i class="material-icons right">close</i></span>
            <% if(restaurants[i].visited){ %>
              <img src="<%= rating[i].pic_path%>" alt="" width= 300%>
              <br>

              <p><i class="material-icons left">local_dining</i>Food: <%= rating[i].food%></p>
              <p><i class="material-icons left">euro_symbol</i>Price: <%= rating[i].price%></p>
              <p><i class="material-icons left">local_bar</i>Ambience: <%= rating[i].ambience%></p>
              <p><i class="material-icons left">sentiment_very_satisfied</i>Customer Service: <%= rating[i].customerService%></p>
              <p><i class="material-icons left">wc</i>Occasion: <%= rating[i].occasion%></p>
              <p><i class="material-icons left">insert_comment</i>Comment: <%= rating[i].Comment%></p>

            <% } %>

          </div>
        </div>
      </div>
    </div>

    <% } %>
</ul>
